<script lang="ts">
  import { activeDownloadStore } from "../stores";
  import Download from "./Download.svelte";
</script>

<div class="card">
  <div class="card-header"><strong>Downloads</strong></div>
  <div class="card-body">
    {#if $activeDownloadStore.size > 0}
      <div class="row small">
        {#each [...$activeDownloadStore] as [url, download] (url)}
          <Download {download} />
        {/each}
      </div>
    {:else}
      <div class="text-center text-3xl text-gray-200 font-bold">
        No download in progress
      </div>
    {/if}
  </div>
</div>
