<script lang="ts">
  import { settingsStore } from "../stores";

  let saving = false;

  async function onSaveClicked(ev: MouseEvent) {
    ev.preventDefault();
    saving = true;

    let body = new FormData();
    body.append("apiKey", $settingsStore.apiKey);
    body.append("downloadFolder", $settingsStore.downloadFolder);

    try {
      // Call the save settings API
      // @ts-ignore
      const apiUrl = __myapp.env.API_URL;
      fetch(`//${apiUrl}/settings`, {
        method: "POST",
        body,
      });
      saving = false;
    } catch (e) {
      console.error(e);
    }
  }
</script>

<form>
  <div class="modal fade" id="settings-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Settings</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          />
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="api-key" class="form-label">API Key</label>
            <input
              id="api-key"
              type="text"
              class="form-control"
              placeholder="API key"
              bind:value={$settingsStore.apiKey}
            />
          </div>
          <div class="mb-3">
            <label for="download-folder" class="form-label"
              >Download folder</label
            >
            <input
              id="download-folder"
              type="text"
              class="form-control"
              placeholder="Download folder"
              bind:value={$settingsStore.downloadFolder}
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal">Cancel</button
          >
          <button
            type="button"
            class="btn btn-outline-primary"
            data-bs-dismiss="modal"
            on:click={onSaveClicked}
            disabled={saving ||
              !Boolean($settingsStore.apiKey) ||
              !Boolean($settingsStore.downloadFolder)}>Save</button
          >
        </div>
      </div>
    </div>
  </div>
</form>
